// colors
$light: #fff;
$graphite: #333;
$midTone: #7a7465fb;
$golden: #a3865b;
$starColor: rgba(236, 214, 13, 0.973);
$lightOrange: rgba(214, 170, 87, 0.959);
// gradients
$greenGradient: linear-gradient(to top, #097e4b 0%, #189751 100%);
$orangeGradient: linear-gradient(0deg, #d88b5e 0%, #f5cd6a 100%);
$blueGradient: linear-gradient(180deg, #387cb4 0%, #21597e 100%);
$blueGreenGradient:linear-gradient(to right, #34e89e, #0f3443);
$darkSteel: linear-gradient(0deg, #1f2931, #959490);
$steel: linear-gradient(to top, #304352, #d7d2cc);
$blueGray: linear-gradient(to top, #2c3e50, #bdc3c7);
//$palePinkGray: linear-gradient(180deg, #f9e3e36e, #ffdde178);
$zinc: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);

// configs
$shadowSmall: 3px 3px 6px rgba(35, 35, 36, 0.47);
$shadowBox: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.801);
$lightFilter: radial-gradient(
  ellipse at center,
  rgba(41, 35, 35, 0.349) 0%,
  rgba(27, 26, 26, 0.425) 100%
);
$backConfig: no-repeat center center/cover;

// mixins

// background all
@mixin background($filter, $url, $backConfig) {
  background: $filter, $url $backConfig;
}

// boxes - size/alignment
@mixin boxSize($width: false, $height: false, $maxWidth: false, $minWidth: false, $maxHeight: false, $minHeight: false) {
  @if($width) {
    width: $width;
  }

  @if($height) {
    height: $height;
  }

  @if($maxWidth) {
    max-width: $maxWidth;
  }

  @if($minWidth) {
    min-width: $minWidth;
  }

  @if($maxHeight) {
    max-height: $maxHeight;
  }

  @if($minHeight) {
    min-height: $minHeight;
  }
}

@mixin alignment($display: false, $align: false, $justify: false, $justifyGrid: false, $direction: false, $textAlign: false) {
  @if $display {
    display: $display;
  }

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $justifyGrid {
    justify-items: $justifyGrid;
  }

  @if $direction {
    flex-direction: $direction;
  }

  @if $textAlign {
    text-align: $textAlign;
  }
}

// fonts
@mixin fonts ($size: false, $color: false, $weight: false, $style: false) {
  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $style {
    font-style: $style;
  }
}

// padding & margin classes
$sizes: 1,
2,
3;

@each $size in $sizes {
  .pd#{$size} {
    padding: #{$size}rem;
  }

  .mg#{$size} {
    margin: #{$size}rem;
  }

  .mgb#{$size} {
    margin-bottom: #{$size}rem;
  }

  .mgt#{$size} {
    margin-top: #{$size}rem;
  }
}